body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#emps{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
td,th{
    border-bottom: 1px solid #1f1d1d;
    padding: 20px;
}
.arrow {
      font-size: 12px;
      margin-left: 5px;
      cursor: pointer;
    }